$break-small: 480px;
$break-medium: 992px;

img {
    width: 500px;
    @media screen and (max-width: $break-small) {
        width: 200px;
    }

    @media screen and (min-width: $break-medium) {
        border:2px solid orangered;
    }

}